Package: fortune-swahili
Version: 0.3.1
Section: games
Priority: optional
Architecture: all
Maintainer: Gift <giftnakembetwa@gmail.com>
Description: Swahili proverbs fortune data and command
 A small package providing Swahili proverbs for a fortune-like command.
